*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    height: 302px;
    width: 100%;
    #header1{
        height: 30px;
        width: 100%;
        background: #e3e4e5;
        border-top: 1px solid #b6b4b6;
        border-bottom: 1px solid #dddddd;
        div{
            height: 100%;
            width: 1210px;
            margin: 0 auto;
            // background: grey;
            #ul1{
                height: 100%;
                color: #999999;
                float: left;
                li{
                    list-style: none;
                    float: left;
                    height: 100%;
                    width: 100px;
                    line-height: 30px;
                    font-size: 12px;
                    // position: relative;
                    span{
                        // position: relative;
                        float: left;
                        display: block;
                        line-height: 30px;
                        i{
                            // position: absolute;
                            display: block;
                            height: 17px;
                            width: 17px;
                            margin-top: 7px;
                            float: left;
                            background: url('../images/home.png');
                        }
                    }
                    .span2{
                        i{
                            background-position: -22px 0;
                        }
                    }
                }
                
               
            }
            #ul2{
                height: 100%;
                float: right;
                li{
                    list-style: none;
                    float: left;
                    position: relative;
                    height: 100%;
                    margin-left: 10px;
                    line-height: 30px;
                    font-size: 12px;
                    
                    box-sizing: border-box;
                    a{
                        text-decoration: none;
                        color: #999999
                    }
                    #zhuce{
                        color: #bc020f;
                    }
                    
                    span{
                        cursor: pointer;
                        color: #999999
                    }
                    span:hover{
                        color: #bc020f;
                    }
                    .background{
                        // position: relative;
                        i{
                            display: inline-block;
                            margin-left: 5px;
                            width: 12px;
                            height: 12px;
                            background: url('../images/home.png');
                            background-position: 0 -19px;
                        }
                    }
                    #dindanBox{
                        z-index: 2;
                        position: absolute;
                        width: 280px;
                        height: 180px;
                        display: none;
                        background: #ffff;
                        border-left:1px solid #dddddd;
                        border-right:1px solid #dddddd;
                        border-bottom:1px solid #dddddd;
                        #dindanBox1{
                            width: 100%;
                            height: 84px;
                            border-bottom: 1px solid #dddddd;
                            ul{
                                li{
                                    color: #b5b5b5;
                                    height: 25px;
                                    width: 130px;
                                    line-height: 25px;
                                    cursor: pointer;
                                }
                                li:hover{
                                    color: #bc020f;
                                }
                            }
                        }
                        #dindanBox2{
                            height: 58px;
                            width: 100%;
                            ul{
                                li{
                                    height: 25px;
                                    width: 130px;
                                    line-height: 25px;
                                    color: #b5b5b5;
                                    cursor: pointer;
                                }
                                li:hover{
                                    color: #bc020f;
                                }
                            }
                        }
                    }
                }
                
                .haveDiv:hover{
                    border-left: 1px solid #b5b5b5;
                    background: #ffffff;
                }
               
                .haveDiv:hover #dindanBox{
                    display:block;
                }
                #haveDiv:hover span{
                    color: #999999;
                }


                #haveDiv2{
                    z-index: 2;
                    #caiGouBox{
                        background: white;
                        li:hover{
                            color: #bc020f;
                        }
                        position: absolute;
                        width: 158px;
                        height: 57px;
                        border-left:1px solid #dddddd;
                        border-right:1px solid #dddddd;
                        border-bottom:1px solid #dddddd;
                        display: none;
                        ul{
                            li{
                                width: 69px;
                                height: 26px;
                                line-height: 26px;
                                float: left;
                                color: #b5b5b5;
                                cursor: pointer;
                            }
                        }
                    }
                }
                /*鼠标经过企业采购菜单显示出来*/
                #haveDiv2:hover #caiGouBox{
                    display: block;
                }
                /*鼠标经过li背景颜色改变*/
                #haveDiv2:hover{
                    border-left: 1px solid #b5b5b5;
                    background: #ffff;
                }
                #haveDiv2:hover span{
                    color: #999999;
                }
                #haveDiv3{
                    .kefu{
                        z-index: 2;
                        background: white;
                        position: absolute;
                        display: none;
                        height: 249px;
                        width: 170px;
                        left: -87px;
                        border-left:1px solid #dddddd;
                        border-right:1px solid #dddddd;
                        border-bottom:1px solid #dddddd;
                        dd:hover{
                            color: #bc020f;
                        }
                        .kefu1{
                            height: 132px;
                            width: 100%;
                            border-bottom: 1px dashed #dddddd;
                            dl{
                                color: #b5b5b5;
                                margin-left: 20px;
                                dt{
                                    font-weight: 600;
                                    color: black;
                                }
                                dd{
                                    width: 73px;
                                    height: 25px;
                                    float: left;
                                    cursor: pointer;
                                }
                            }
                        }
                        .kefu2{
                            height: 116px;
                            width: 100%;
                            dl{
                                margin-left: 20px;
                                color: #b5b5b5;
                                dt{
                                    font-weight: 600;
                                    color: black;
                                }
                                dd{
                                    width: 73px;
                                    height: 25px;
                                    float: left;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                #haveDiv3:hover .kefu{
                    display: block;
                }
                #haveDiv3:hover{
                    background: #fafafa;
                }
                #haveDiv3:hover span{
                    color: #999999;
                }
                #haveDiv4{
                    .netnav{
                        display: none;
                        position: absolute;
                        width: 1208px;
                        height: 185px;
                        left: -1070px;
                        border-left: 1px solid #dddddd;
                        border-right: 1px solid #dddddd;
                        border-bottom: 1px solid #dddddd;
                        z-index: 2;
                        background: white;
                        .netnav1{
                            height: 100%;
                            width: 366px;
                            // background:grey;
                            float: left;
                            dl{
                                height: 165px;
                                width: 345px;
                                color: #999999;
                                margin: 10px 0 10px 20px;
                                border-right: 1px solid #eeee;
                                dt{
                                    font-weight: 600;
                                    color: #666666;
                                }
                                dd{
                                    float: left;
                                    height: 25px;
                                    width: 84px;
                                    cursor: pointer;
                                }
                                dd:hover{
                                    color: #bc020f;
                                }
                            }
                        }
                        .netnav2{
                            height: 100%;
                            width: 276px;
                            float: left;
                            dl{
                                height: 165px;
                                width: 256px;
                                color: #999999;
                                margin: 10px 0 10px 20px;
                                border-right: 1px solid #eeee;
                                dt{
                                    font-weight: 600;
                                    color: #666666;
                                }
                                dd{
                                    float: left;
                                    height: 25px;
                                    width: 84px;
                                    cursor: pointer;
                                }
                                dd:hover{
                                    color: #bc020f;
                                }
                            }
                        }
                        .netnav3{
                            height: 100%;
                            width: 278px;
                            float: left;
                            dl{
                                height: 165px;
                                width: 258px;
                                color: #999999;
                                margin: 10px 0 10px 20px;
                                border-right: 1px solid #eeee;
                                dt{
                                    font-weight: 600;
                                    color: #666666;
                                }
                                dd{
                                    float: left;
                                    height: 25px;
                                    width: 84px;
                                    cursor: pointer;
                                }
                                dd:hover{
                                    color: #bc020f;
                                }
                            }
                        }
                        .netnav4{
                            height: 100%;
                            width: 276px;
                            float: left;
                            dl{
                                height: 165px;
                                width: 256px;
                                color: #999999;
                                margin: 10px 0 10px 20px;
                                dt{
                                    font-weight: 600;
                                    color: #666666;
                                }
                                dd{
                                    float: left;
                                    height: 25px;
                                    width: 84px;
                                    cursor: pointer;
                                }
                                dd:hover{
                                    color: #bc020f;
                                }
                            }
                        }
                    }
                }
                #haveDiv4:hover{
                    background: #ffffff;
                }
                #haveDiv4:hover .netnav{
                    display: block;
                }
                #haveDiv4:hover span{
                    color: #999999;
                }
            }
        }
    }


    #header2{
        height: 90px;
        width: 1210px;
        background: #ffffff;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 15px 0;
        #logo{
            position: relative;
            height: 60px;
            width: 318px;
            float: left;
            dl{
                position: absolute;
                height: 173px;
                width: 80px;
                top: 12px;
                left: 182px;
                z-index: 1;
                dt{
                    text-align: center;
                    font-size: 12px;
                    color: #666666;
                    width: 76px;
                    height: 22px;
                    line-height: 22px;
                    // box-sizing: border-box;
                    border:1px solid #cccccc;
                    cursor: pointer;
                    s{ 
                        display: inline-block;
                        margin-left: 5px;
                        margin-top: 10px;
                        height: 0;
                        line-height: 0;
                        font-size: 0;
                        border: 4px solid;
                        border-color: #333 #ffff  #ffff #ffffff;
                    }
                }
               
                dd{
                    display: none;
                    height: 22px;
                    line-height: 22px;
                    margin: 5px 5px 5px 6px;
                    cursor: pointer;
                    font-size: 14px;
                   color: #666666;
                }
                dd:hover{
                    color: #bc020f;
                }
            }
            dl:hover dt{
                border:none;
            }
            dl:hover dt>s{
                margin-top:4px;
                border-color:#ffff #ffff #333333 #ffff;
            }
            dl:hover dd{
                display: block;
            }
            dl:hover {
                background: white;
                border:1px solid #ccc;
            }
           
        }
        #search{
            height: 100%;
            width: 532px;
            float: left;
            span{
                font-size: 0;
                overflow: hidden;
                input{
                    height: 32px;
                    padding: 0;
                    float: left;
                    border:0;
                    outline: none;
                }
                .inpt{
                    padding-left:  10px;
                    font-size: 14px;
                    border:3px solid #e4393c;
                    width: 408px;
                }
                .btn1{
                    color: white;
                    width: 54px;
                    height: 38px;
                    background: #e4393c;
                    cursor: pointer;
                }
                .btn2{
                    cursor: pointer;
                    color: white;
                    width: 54px;
                    height: 38px;
                    background: #666666;
                }
            }
            ul{
                margin-left: 100px;
                li{
                    margin:5px 5px 0 0;
                    float: left;
                    font-size: 12px;
                    color: #b5b5b5;
                    cursor: pointer;
                }
                li:hover{
                    color: #bc020f;
                }
            }
        }
        #MyshopCart{
            width: 254px;
            height: 100%;
            float: right;
            padding: 7px 0 0 0;
            ul{
                li{
                    float: left;
                    height: 34px;
                    width: 108px;
                    margin-right: 14px;
                    background: #f7f7f7;
                    line-height: 34px;
                    text-align: center;
                    position: relative;
                    font-size: 12px;
                    color: #666666;
                    cursor: pointer;
                    i{
                        display: inline-block;
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        top:7px;
                        left: 2px;
                        background: url(../images/home.png) no-repeat -18px -24px;
                    }
                    
                }

                .mine{
                    s{
                        position:absolute;
                        right: 9px;
                        top: 15px;
                        height: 0;
                        font-size: 0;
                        border: 6px solid;
                        border-color: #ccc transparent transparent transparent;
                    }
                }
                .mycart {
                    i{
                       background: url(../images/home.png) no-repeat -49px -20px;  
                    }
                    s{  
                        position: absolute;
                        right: 4px;
                        top: 12px;
                        font-size: 0;
                        height: 0;
                        border: 6px solid;
                        border-color:  transparent transparent transparent #ccc;
                    }
                }
                li:hover{
                    color: #bc020f;
                }
            }
        }
    }


    #header3{
        position: relative;
        height: 30px;
        width: 1210px;
        margin: 0 auto;
        background: #fafafa;
        #head3box{
            margin: 0 7%;
            float: right;
            height: 100%;
            width: 472px;
            // background: #ccc;
            div{
                font-size: 12px;
                float: left;
                height: 100%;
                text-align: center;
                line-height: 30px;
            }
            .hd3div1{
                position: relative;
                cursor: pointer;
                .hd3div1-box{
                    display: none;
                    position: absolute;
                    width: 258px;
                    height: 183px;
                    background: white;
                    border:1px solid #ccc;
                    padding: 10px 20px 0 20px;
                    box-sizing: border-box;
                    .hd3div1-1{
                        width: 226px;
                        height: 120px;
                        border-bottom: 1px dashed #f5afb1;
                        dl{
                            float: left;
                            dt{
                                width: 110px;
                                height: 28px;
                                text-align: left;
                            }
                            dd{
                                text-align: left;
                                width: 110px;
                                height: 28px;  
                                cursor: pointer;
                                color: #999999;
                                span{
                                    color: #000000;
                                }
                            }
                        }
                        .complete{
                            dd{
                                color: #333333;
                                s{
                                    display: inline-block;
                                    height: 13px;
                                    width: 13px;
                                    background: url(../images/star.png) no-repeat -9px  -59px ;
                                }
                            }
                        }

                    }
                   
                    .hd3div1-2{
                        width: 226px;
                        height: 56px;
                        p{
                            display: inline-block;
                            height: 22px;
                            width: 100%;
                            line-height: 22px;
                            text-align: left;
                
                            img{
                                font-size: 0;
                                // float: left;
                                height: 22px;
                            }
                        }
                    }
                }
            }
            .hd3div1:hover .hd3div1-box{
                display: block;
            }
            
            .hd3div2{
                width: 130px;
                div{
                    height: 17px;
                    width: 78px;
                    margin:6px 0 0 10px;
                    background: url(../images/star.png) no-repeat 0 -35px;
                }
                span{
                    color: #009900;
                    s{
                        display: inline-block;
                        width: 10px;height: 10px;
                        background:url(../images/star.png) -10px -60px;
                    }
                }
            }
            .hd3div3{
                width: 86px;
                height: 100%;
                float: left;
                color: #999999;
                cursor: pointer;
                s{
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    background: url(../images/smallJinLin-2.png) no-repeat -6px -3px;
                }
            }
            .hd3div4:hover{
                color: #bc020f;
            }
            .hd3div5:hover{
                color: #bc020f;
            }
            .hd3div4{
                width: 86px;
                height: 100%;
                float: left;
                color: #999999;
                cursor: pointer;
                s{
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    background: url(../images/smallJinLin-2.png) no-repeat -88px -3px;
                }
            }
            .hd3div5{
                cursor: pointer;
                color: #999999;
                width: 86px;
                height: 100%;
                float: left;
                s{
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    background: url(../images/smallJinLin-2.png) no-repeat -171px -3px;
                }
            }
        }
    }
    #header4{
        height: 111px;
        width: 100%;
        background: #f7ffff;
        margin: 0 auto;
        background: url(../images/goujiu.jpg) no-repeat -200px 0;
    }
    #header5{
        height: 40px;
        width: 100%;
        background: #bc020f;
        #h5Box{
            height: 100%;
            width: 1210px;
            margin: 0 auto;
            ul{
                height: 100%;
                li{
                    float: left;
                    height: 100%;
                    text-align: center;
                    position: relative;
                    // line-height: 40px;
                    padding: 8px 0;
                    box-sizing: border-box;
                    span{
                        color: white;
                        display: block;
                        height: 24px;
                        padding: 0 15px;
                        border-radius: 12px;
                        cursor: pointer;
                    } 
                    .fenlei{
                        position: relative;
                        s{
                            position: absolute;
                            right: -2px;
                            top: 10px;
                            height: 0;
                            font-size: 0;
                            border: 6px solid ;
                            border-color: #333333 transparent transparent transparent;
                        }
                        .fenleiBox{
                            z-index: 6;
                            display: none;
                            position: absolute;
                            top: 32px;
                            left: -63px;
                            width: 1209px;
                            height: 447px;
                            border: 1px solid #bebab0;
                            padding: 1px 0 0 4px;
                            background: #e2e6df;
                            padding-left:40px;
                            box-sizing: border-box;
                            opacity: 0.8;
                            .fenleiBox-top{ 
                                height: 50px;
                                width: 752px;
                                border-bottom: 1px dashed #666;
                                div{
                                    width: 125px;
                                    height: 50px;
                                    float: left;
                                    padding: 13px 0;
                                    box-sizing: border-box;
                                    span{
                                        display: block;
                                        border: 12px;
                                        color: #333333;
                                    }
                                    span:hover{
                                        border: 1px solid #bc020f;
                                    }
                                }
                                
                            }
                            .fenleiBox-bot{
                                height: 347px;
                                width: 752px;
                                padding: 20px 0 0 0 ;
                                dl{
                                    float: left;
                                    width: 125px;
                                    dd{
                                        height: 25px;
                                        color: #666;
                                        text-align: left;
                                        padding: 0 0 0 30px;
                                        font-size: 12px;
                                    }
                                    span{
                                        display: block;
                                        font-size: 15px;
                                        font-weight: 600;
                                        height: 26px;
                                        line-height: 26px;
                                        border: 1px solid #000000;
                                        color: #000000;
                                    }
                                    dd:hover{
                                        color: #bc020f;
                                    }
                                }
                            }
                        }
                    }
                }
                li:hover s{
                    position: absolute;
                            right: -1px;
                            top: 3px;
                            height: 0;
                            font-size: 0;
                            border: 6px solid ;
                            border-color:  transparent transparent white transparent;
                }
                li:hover .fenleiBox{
                    display: block;
                }
                li:hover>span{
                    background: #000000;
                }
                // .fenlei{

                // }
            }
        }
    }
}

#lunboBox{
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    #lunbo{
        position: absolute;
        width: 6000px;
        height: 100%;
        >div{
            float: left;
        }  
    }
    #jiaodian{
        position: absolute;
        height: 18px;
        width: 100%;
        left: 0;
        bottom: 20px;
        text-align: center;
        span{
            display:inline-block;
            width: 40px;
            height: 15px;
            background: #444444;
        }
        .act{
            background:skyblue;
        }
    }
     
}

#liebiao-t{
    width: 100%;
    height: 42px;
    #liebiao-tc{
        width: 1200px;
        height: 42px;
        margin: 0 auto;
        .tentent-top{
            background: white;
            width: 100%;
            height: 32px;
            padding: 6px;
            position: relative;
            >span{
                float: left;
                // display: inline-block;
                text-align: center;
                height: 30px;
                font-weight: bold;
                line-height: 30px;
                margin: 0 10px;
                font-size: 14px;
                color: #C00000;
            }
            >input{
                height: 32px;
                outline: none;
                line-height: 32px;
                text-indent: 5px;
                float: left;
                border:1px solid #ccc;
            }
            .tentent-top-left{
                position: absolute;
                left: 252px;
                top: 0;
                height: 100%;
                padding: 7px 0 0 0;
                box-sizing: border-box;
                span{
                    float: left;
                    color: #999999;
                    margin: 4px 10px 0 10px;
                }
                >input{
                    outline: none;
                    width: 80px;
                    margin: 0 10px;
                    height: 30px;
                    line-height: 30px;
                    color:#ccc;
                    float: left;
                    text-indent: 5px;
                    border: 1px solid #ccc;
                }
                button{
                    outline: none;
                    border: 0;
                    cursor: pointer;
                    float: left;
                    height: 33px;
                    width: 75px;
                    background: #c00000;
                    color: white;
                    font-weight: bold;
                    font-size: 15px;
                    border-radius: 5px;
                }
                .checked{
                    width: 13px;
                    height: 13px;
                    margin: 9px 0 0 3px;
                }
            }
            .tentent-top-right{
                position: absolute;
                right:12px;
                height: 32px;
                box-sizing: border-box;
                margin: 5px 0;
                strong{
                    color: #666;
                    font-size: 16px;
                }
                a{
                  color: #878787;
                  margin: 0 5px;
                  white-space: nowrap;
                  font-size: 12px;  
                }
            }
        }
    }
}

#liebiao{
    width: 100%;
    height: 1000px;
    margin-top: 20px;
    #liebiaoContent{
        width: 1200px;
        height: 1000px;
        // border: 1px solid #eeee;
        margin: 0 auto;
        .liebiaoleft{
            width: 233px;
            height: 100%;
            float: left;
            // border: 1px solid #eeeeee;
            .liebiaoleft-top{
                width: 235px;
                height: 231px;
                border: 1px solid #eeee;
                .diannei{
                    width: 100%;
                    height: 40px;
                    h3{
                        display: inline-block;
                        width: 100px;
                        height: 40px;
                        padding-left: 40px;
                        line-height: 40px;
                        color: #878787;
                        font-size: 17px;
                    }
                }
                .liebiaoleft-b{
                    width: 233px;
                    height: 156px;
                    .liebiaoleft-bt{
                        width: 213px;
                        height: 101px;
                        padding:  10px 10px 0 10px;
                        span{
                            display: inline-block;
                            width: 42px;
                            height: 22px;
                            font-size: 12px;
                            color:#878787;
                        }
                        input{
                            width: 162px;
                            height: 26px;
                        }
                        div{
                            width: 210px;
                            height: 26px;
                            padding: 10px 0;
                            span{
                                display: inline-block;
                                width: 36px;
                                height: 22px;
                                font-size: 12px;
                                color: #878787;
                            }
                            .tesu-span{
                                width: 6px;
                                height: 18px;
                            }
                            input{
                                text-indent: 10px;
                                width: 65px;
                                height: 18px;
                                line-height: 18px;
                                margin: 0px 5px 0px 2px;
                                font-size: 12px;
                                padding: 3px 0;
                                color: #878787;
                                // float: left;
                                
                            }
                        }
                        p{
                            text-align: center;
                            width: 100%;
                            height: 23px;
                            input{
                                vertical-align: middle;
                                width: 12px;
                                height: 12px;
                            }
                        }
                    }
                    button{
                        width: 60px;
                        height: 30px;
                        line-height: 30px;
                        border: none;
                        background: #C00000;
                        color: white;
                        margin-left: 80px;
                    }
                    .liebiaoleft-bb{
                        padding: 10px;
                        font-size: 12px;
                        color: #878787;
                        strong{
                            color: #878787
                        }
                        a{
                            margin-left: 5px;
                            color: #878787
                        }
                    }
                }
            }
            .liebiaoleft-bottom{
                border: 1px solid #eeeeee;
                margin-top: 20px;
                width: 100%;
                height: auto;
                .left-bot-title{
                    width: 100%;
                    height: 40px;
                    h3{
                        height: 40px;
                        width: 80px;
                        padding-left: 40px;
                        font-size: 17px;
                        color: #787878;
                        line-height: 40px;
                    }
                }
                .all-fenlei{
                    cursor: pointer;
                    padding-left: 10px;
                    width: 233px;
                    height: 35px;
                    font-size: 14px;
                    color: #787878;
                    line-height: 35px;
                    box-sizing: border-box;
                    i{
                        margin-right: 10px;
                        display: inline-block;
                        vertical-align: middle;
                        height: 16px;
                        width: 16px;
                        background: url(../images/+-.png)no-repeat -38px 0;
                    }
                }
                .all-fenlei:hover{
                    color: red;
                }

                .dlsBox{
                    width: 100%;
                    height: auto;
                    dl{
                        dt,dd{
                            width: 100%;
                            height: 35px;
                            line-height: 35px;
                            box-sizing: border-box;
                            color: #787877;
                        }
                        dt{
                            padding-left: 10px;
                            i{
                                cursor: pointer;
                                margin-right: 10px;
                                display: inline-block;
                                vertical-align: middle;
                                height: 16px;
                                width: 16px;
                                background: url(../images/+-.png)no-repeat -38px 0;
                            }
                        }
                        dd{
                            padding-left: 35px;
                            font-size: 14px;
                            cursor: pointer;
                            i{
                                display: inline-block;
                                height: 0;
                                border: 4px solid;
                                border-color: transparent transparent transparent red;
                            }
                        }
                        dd:hover{
                            color: red;
                        }
                        dt:hover{
                            color:red;
                        }
                    }
                }
            }
        }


        .liebiaoright{
            width: 960px;
            height: 100%;
            float: left;
            margin-left: 6px;
            // background: #ccc;
            .liebiaoright-t{
                width: 100%;
                height: 45px;
                background: #eeee;
                ul{
                    width: 100%;
                    height: 100%;
                    li{
                        width: 100px;
                        height: 45px;
                        line-height: 43px;
                        text-align: center;
                        display: block;
                        color: gray;
                        float: left;
                        margin-right: 8px;
                        font-size: 14px;
                        font-weight: bold;
                        cursor: pointer;
                    }
                    .paixu-act{
                        border-top: 2px solid #c0000c;
                        background: white;
                    }
                    
                }
            }
            .liebiaoright-m{
                margin-top: 7px;
                width: 100%;
                height: 800px;
                ul{
                    width: 100%;
                    height: 100%;
                    li{
                        width: 225px;
                        height: 346px;
                        float: left;
                        list-style: none;
                        padding: 5px;
                        margin: 5px 5px 0 0;
                        img{
                            width: 223px;
                            height: 223px;
                            cursor: pointer;
                        }
                        a{
                            width: 100%;
                            height: 40px;
                            font-size: 12px;
                            color: #666;
                        }
                        p{
                            font-size: 14px;
                            color: #666;
                        }
                        div{
                            width: 100%;
                            height: 25px;
                            color: #C00000;
                            span{
                                width: 64px;
                                font-size: 17px;
                                font-weight: 600;
                                color: #c0000c;
                            }
                        }
                        span{
                            display: inline-block;
                            width: 100%;
                            height: 28px;
                            a{
                                display: inline-block;
                               font-size: 14px; 
                            }
                            .jiaru{
                                width: 78px;
                                height: 28px;
                                color: white;
                                background: #c0000c;
                                line-height: 28px;
                                text-align: center;
                            }
                            .guanzhu{
                                width: 55px;
                                height: 28px;
                                color: #c0000c;
                                background: white;
                                line-height: 28px;
                                text-align: center;
                                border: 1px solid #c0000c;
                            }
                        }
                    }
                    li:hover{
                        border-color: #ccc;
                        box-shadow: 0 1px 10px #aaa;
                    }
                }
            }

            .liebiaoright-b{
                width: 100%;
                height: 59px;
                padding: 15px 10px;
                background: #fff;
                text-align: center;
                overflow: hidden;
                clear: both;
                font-size: 14px;
                b{
                    font-style: normal;
                    display: inline-block;
                    width: 82px;
                    height: 19px;
                    margin-right: 10px;
                    color: #666;
                }
                span{
                    color: #666;
                    width: 42px;
                    height: 19px;
                    line-height: 19px;
                    text-align: center;
                    border: 1px solid gray;
                    cursor: pointer;
                }
                .pages{
                    display: inline-block;
                    border: none;
                    height: 26px;
                    width: 120px;
                    a{
                        margin: 0 3px;
                        cursor: pointer;
                        color: #005aa0;
                        border: solid 1px #ccc;
                        padding: 3px 8px;
                        display: inline-block;
                        zoom: 1;
                    }
                    .selected{
                        color: white;
                        background: #005aa0;
                    }
                }
                
               
            }
        }
    }
}



footer{
    height: 480px;
    width: 100%;
    background: #eaeaea;
    #footer-top{
        .fot-titleBox{
            height: 303px;
            width: 100%;
            border-bottom: 1px solid #dedede;
            .fot-title{
                width: 1210px;
                height: 102px;
                margin: 0 auto;
                box-sizing: border-box;
                padding: 30px 0 30px 55px;
                ol{
                    li{
                        float: left;
                        height: 44px;
                        width: 200px;
                        position: relative;
                        text-indent: 46px;
                        line-height: 44px;
                        font-size: 16px;
                        font-weight: 600;
                        color: #444444;
                        margin-right: 83px;
                        s{
                            position: absolute;
                            display: block;
                            width: 44px;
                            height: 44px;
                            background: url(../images/text.png) no-repeat 0 0;
                        }
                    }
                }
            }
            .olContentBox{
                width: 100%;
                height: 200px;
                box-sizing: border-box;
                border-bottom: 1px solid #dedede;
                margin-bottom:10px;
                .olContent{
                    padding: 20px 0 20px 55px;
                    width: 1210px;
                    height: 160px;
                    margin: 0 auto ;
                    dl{
                        margin-left: 46px;
                        color: #777777;
                        float: left;
                        margin-right: 96px;
                        dt{
                            width: 100px;
                            height: 30px;
                            font-size: 12px;
                            font-weight: 600;
                            line-height: 30px;
                        }
                        dd{
                            font-size: 12px;
                            height:20px;
                            line-height: 20px;
                            width: 100px;
                        }
                    }
                }
            }
        
        }
    }
   #footer-bottom{
    width: 1210px;
    margin: 0 auto;
       #footer-bottomTop{
        height: 18px;
        width: 1210px;
        margin: 0 auto;
        p{
            a{
                text-decoration: none;
                color: #777777;
                font-size: 15px;
            }
            span{
                margin: 0 10px;
                font-size: 12px;
            }
        }
       }
       p{
           text-align: center;
           color: #777777;
           font-size: 12px;
           span{
            margin: 0 10px;
            font-size: 12px;
           }
           a{
               text-decoration: none;
               color: #777777;
               s{
                display: inline-block;
                width: 12px;
                height: 12px;
                background: url(../images/guoqi.png) no-repeat ;
               }
               .as2{
                background: url(../images/guoqi.png) no-repeat -21px 0;
               }
               .as3{
                background: url(../images/guoqi.png) no-repeat -41px 0;
               }
               .as4{
                background: url(../images/guoqi.png) no-repeat  -21px -12px;
               }
            }
           a:hover{
               color: #bc020f; 
           }   
        }
        div{
            height: 32px;
            width: 1210px;
            margin: 0 auto;
            p{
                .icon-foot1{
                    display: inline-block;
                    width: 103px;
                    height: 32px;
                    background: url(../images/ico_footer.png) no-repeat 0 0 ;
                 }
                .icon-foot2{
                    display: inline-block;
                    width: 103px;
                    height: 32px;
                    background: url(../images/ico_footer.png) no-repeat -103px 0 ;
                 }
                .icon-foot3{
                    display: inline-block;
                    width: 103px;
                    height: 32px;
                    background: url(../images/ico_footer.png) no-repeat 0 -36px ;
                 }
                .icon-foot4{
                    display: inline-block;
                    width: 103px;
                    height: 32px;
                    background: url(../images/ico_footer.png) no-repeat -103px -36px ;
                 }
                .icon-foot5{
                    display: inline-block;
                    width: 103px;
                    height: 32px;
                    background: url(../images/ico_footer.png) no-repeat 0px -72px ;
                 }
                .icon-foot6{
                    display: inline-block;
                    width: 103px;
                    height: 32px;
                    background: url(../images/ico_footer.png) no-repeat -103px -72px ;
                 }
            } 
        }
   }
   
}