@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

header {
  width: 100%;
  height: auto; }
  header #header1 {
    height: 30px;
    width: 100%;
    background: #e3e4e5;
    border-top: 1px solid #b6b4b6;
    border-bottom: 1px solid #dddddd; }
    header #header1 div {
      height: 100%;
      width: 990px;
      margin: 0 auto; }
      header #header1 div #ul1 {
        height: 100%;
        color: #999999;
        float: left; }
        header #header1 div #ul1 li {
          list-style: none;
          float: left;
          height: 100%;
          width: 100px;
          line-height: 30px;
          font-size: 12px; }
          header #header1 div #ul1 li span {
            float: left;
            display: block;
            line-height: 30px; }
            header #header1 div #ul1 li span i {
              display: block;
              height: 17px;
              width: 17px;
              margin-top: 7px;
              float: left;
              background: url("../images/home.png"); }
          header #header1 div #ul1 li .span2 i {
            background-position: -22px 0; }
      header #header1 div #ul2 {
        height: 100%;
        float: right;
        /*榧犳爣缁忚繃浼佷笟閲囪喘鑿滃崟鏄剧ず鍑烘潵*/
        /*榧犳爣缁忚繃li鑳屾櫙棰滆壊鏀瑰彉*/ }
        header #header1 div #ul2 li {
          list-style: none;
          float: left;
          position: relative;
          height: 100%;
          margin-left: 10px;
          line-height: 30px;
          font-size: 12px;
          box-sizing: border-box; }
          header #header1 div #ul2 li a {
            text-decoration: none;
            color: #999999; }
          header #header1 div #ul2 li #zhuce {
            color: #bc020f; }
          header #header1 div #ul2 li span {
            cursor: pointer;
            color: #999999; }
          header #header1 div #ul2 li span:hover {
            color: #bc020f; }
          header #header1 div #ul2 li .background i {
            display: inline-block;
            margin-left: 5px;
            width: 12px;
            height: 12px;
            background: url("../images/home.png");
            background-position: 0 -19px; }
          header #header1 div #ul2 li #dindanBox {
            z-index: 2;
            position: absolute;
            width: 280px;
            height: 180px;
            display: none;
            background: #ffff;
            border-left: 1px solid #dddddd;
            border-right: 1px solid #dddddd;
            border-bottom: 1px solid #dddddd; }
            header #header1 div #ul2 li #dindanBox #dindanBox1 {
              width: 100%;
              height: 84px;
              border-bottom: 1px solid #dddddd; }
              header #header1 div #ul2 li #dindanBox #dindanBox1 ul li {
                color: #b5b5b5;
                height: 25px;
                width: 130px;
                line-height: 25px;
                cursor: pointer; }
              header #header1 div #ul2 li #dindanBox #dindanBox1 ul li:hover {
                color: #bc020f; }
            header #header1 div #ul2 li #dindanBox #dindanBox2 {
              height: 58px;
              width: 100%; }
              header #header1 div #ul2 li #dindanBox #dindanBox2 ul li {
                height: 25px;
                width: 130px;
                line-height: 25px;
                color: #b5b5b5;
                cursor: pointer; }
              header #header1 div #ul2 li #dindanBox #dindanBox2 ul li:hover {
                color: #bc020f; }
        header #header1 div #ul2 .haveDiv:hover {
          border-left: 1px solid #b5b5b5;
          background: #ffffff; }
        header #header1 div #ul2 .haveDiv:hover #dindanBox {
          display: block; }
        header #header1 div #ul2 #haveDiv:hover span {
          color: #999999; }
        header #header1 div #ul2 #haveDiv2 {
          z-index: 2; }
          header #header1 div #ul2 #haveDiv2 #caiGouBox {
            background: white;
            position: absolute;
            width: 158px;
            height: 57px;
            border-left: 1px solid #dddddd;
            border-right: 1px solid #dddddd;
            border-bottom: 1px solid #dddddd;
            display: none; }
            header #header1 div #ul2 #haveDiv2 #caiGouBox li:hover {
              color: #bc020f; }
            header #header1 div #ul2 #haveDiv2 #caiGouBox ul li {
              width: 69px;
              height: 26px;
              line-height: 26px;
              float: left;
              color: #b5b5b5;
              cursor: pointer; }
        header #header1 div #ul2 #haveDiv2:hover #caiGouBox {
          display: block; }
        header #header1 div #ul2 #haveDiv2:hover {
          border-left: 1px solid #b5b5b5;
          background: #ffff; }
        header #header1 div #ul2 #haveDiv2:hover span {
          color: #999999; }
        header #header1 div #ul2 #haveDiv3 .kefu {
          z-index: 2;
          background: white;
          position: absolute;
          display: none;
          height: 249px;
          width: 170px;
          left: -87px;
          border-left: 1px solid #dddddd;
          border-right: 1px solid #dddddd;
          border-bottom: 1px solid #dddddd; }
          header #header1 div #ul2 #haveDiv3 .kefu dd:hover {
            color: #bc020f; }
          header #header1 div #ul2 #haveDiv3 .kefu .kefu1 {
            height: 132px;
            width: 100%;
            border-bottom: 1px dashed #dddddd; }
            header #header1 div #ul2 #haveDiv3 .kefu .kefu1 dl {
              color: #b5b5b5;
              margin-left: 20px; }
              header #header1 div #ul2 #haveDiv3 .kefu .kefu1 dl dt {
                font-weight: 600;
                color: black; }
              header #header1 div #ul2 #haveDiv3 .kefu .kefu1 dl dd {
                width: 73px;
                height: 25px;
                float: left;
                cursor: pointer; }
          header #header1 div #ul2 #haveDiv3 .kefu .kefu2 {
            height: 116px;
            width: 100%; }
            header #header1 div #ul2 #haveDiv3 .kefu .kefu2 dl {
              margin-left: 20px;
              color: #b5b5b5; }
              header #header1 div #ul2 #haveDiv3 .kefu .kefu2 dl dt {
                font-weight: 600;
                color: black; }
              header #header1 div #ul2 #haveDiv3 .kefu .kefu2 dl dd {
                width: 73px;
                height: 25px;
                float: left;
                cursor: pointer; }
        header #header1 div #ul2 #haveDiv3:hover .kefu {
          display: block; }
        header #header1 div #ul2 #haveDiv3:hover {
          background: #fafafa; }
        header #header1 div #ul2 #haveDiv3:hover span {
          color: #999999; }
        header #header1 div #ul2 #haveDiv4 .netnav {
          display: none;
          position: absolute;
          width: 1208px;
          height: 185px;
          left: -1070px;
          border-left: 1px solid #dddddd;
          border-right: 1px solid #dddddd;
          border-bottom: 1px solid #dddddd;
          z-index: 2;
          background: white; }
          header #header1 div #ul2 #haveDiv4 .netnav .netnav1 {
            height: 100%;
            width: 366px;
            float: left; }
            header #header1 div #ul2 #haveDiv4 .netnav .netnav1 dl {
              height: 165px;
              width: 345px;
              color: #999999;
              margin: 10px 0 10px 20px;
              border-right: 1px solid #eeee; }
              header #header1 div #ul2 #haveDiv4 .netnav .netnav1 dl dt {
                font-weight: 600;
                color: #666666; }
              header #header1 div #ul2 #haveDiv4 .netnav .netnav1 dl dd {
                float: left;
                height: 25px;
                width: 84px;
                cursor: pointer; }
              header #header1 div #ul2 #haveDiv4 .netnav .netnav1 dl dd:hover {
                color: #bc020f; }
          header #header1 div #ul2 #haveDiv4 .netnav .netnav2 {
            height: 100%;
            width: 276px;
            float: left; }
            header #header1 div #ul2 #haveDiv4 .netnav .netnav2 dl {
              height: 165px;
              width: 256px;
              color: #999999;
              margin: 10px 0 10px 20px;
              border-right: 1px solid #eeee; }
              header #header1 div #ul2 #haveDiv4 .netnav .netnav2 dl dt {
                font-weight: 600;
                color: #666666; }
              header #header1 div #ul2 #haveDiv4 .netnav .netnav2 dl dd {
                float: left;
                height: 25px;
                width: 84px;
                cursor: pointer; }
              header #header1 div #ul2 #haveDiv4 .netnav .netnav2 dl dd:hover {
                color: #bc020f; }
          header #header1 div #ul2 #haveDiv4 .netnav .netnav3 {
            height: 100%;
            width: 278px;
            float: left; }
            header #header1 div #ul2 #haveDiv4 .netnav .netnav3 dl {
              height: 165px;
              width: 258px;
              color: #999999;
              margin: 10px 0 10px 20px;
              border-right: 1px solid #eeee; }
              header #header1 div #ul2 #haveDiv4 .netnav .netnav3 dl dt {
                font-weight: 600;
                color: #666666; }
              header #header1 div #ul2 #haveDiv4 .netnav .netnav3 dl dd {
                float: left;
                height: 25px;
                width: 84px;
                cursor: pointer; }
              header #header1 div #ul2 #haveDiv4 .netnav .netnav3 dl dd:hover {
                color: #bc020f; }
          header #header1 div #ul2 #haveDiv4 .netnav .netnav4 {
            height: 100%;
            width: 276px;
            float: left; }
            header #header1 div #ul2 #haveDiv4 .netnav .netnav4 dl {
              height: 165px;
              width: 256px;
              color: #999999;
              margin: 10px 0 10px 20px; }
              header #header1 div #ul2 #haveDiv4 .netnav .netnav4 dl dt {
                font-weight: 600;
                color: #666666; }
              header #header1 div #ul2 #haveDiv4 .netnav .netnav4 dl dd {
                float: left;
                height: 25px;
                width: 84px;
                cursor: pointer; }
              header #header1 div #ul2 #haveDiv4 .netnav .netnav4 dl dd:hover {
                color: #bc020f; }
        header #header1 div #ul2 #haveDiv4:hover {
          background: #ffffff; }
        header #header1 div #ul2 #haveDiv4:hover .netnav {
          display: block; }
        header #header1 div #ul2 #haveDiv4:hover span {
          color: #999999; }
  header #logoBox {
    width: 100%;
    height: 120px;
    box-sizing: border-box; }
    header #logoBox .logo {
      padding: 20px 0 0 0;
      margin: 0 auto;
      width: 990px;
      height: 100%; }
      header #logoBox .logo #logoImg {
        width: 270px;
        height: 60px;
        float: left; }
        header #logoBox .logo #logoImg img {
          display: inline-block;
          vertical-align: bottom; }
        header #logoBox .logo #logoImg b {
          display: inline-block;
          vertical-align: bottom;
          width: 80px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          color: #666666;
          font-size: 24px; }
      header #logoBox .logo #search {
        float: right;
        padding: 10px 0 0 0; }
        header #logoBox .logo #search .text {
          box-sizing: border-box;
          width: 270px;
          height: 24px;
          padding: 5px;
          border: 2px solid #bc020f;
          outline: none; }
        header #logoBox .logo #search .sbm {
          height: 24px;
          width: 48px;
          background: #bc020f;
          color: white;
          line-height: 24px;
          text-align: center;
          border: none;
          outline: none; }
  header #shopCartBox {
    margin: 50px 0 0 0;
    width: 100%;
    height: 600px; }
    header #shopCartBox #shopCart {
      width: 990px;
      height: 100%;
      margin: 0 auto; }
      header #shopCartBox #shopCart .shopCart-t {
        width: 990px;
        height: 40px;
        margin-bottom: 20px; }
        header #shopCartBox #shopCart .shopCart-t h3 {
          display: inline-block;
          width: 80px;
          height: 100%;
          line-height: 40px;
          text-align: center;
          color: #e4393c;
          border-bottom: 1px solid #e4393c; }
        header #shopCartBox #shopCart .shopCart-t span {
          color: #e4393c; }
      header #shopCartBox #shopCart .shopCart-b {
        width: 990px;
        height: 340px; }
        header #shopCartBox #shopCart .shopCart-b .Cart-title {
          width: 990px;
          height: 43px;
          background: #f3f3f3;
          border: 1px solid #e9e9e9; }
          header #shopCartBox #shopCart .shopCart-b .Cart-title > div {
            height: 100%;
            line-height: 43px;
            float: left;
            width: 130px; }
          header #shopCartBox #shopCart .shopCart-b .Cart-title .selectAll {
            width: 133px;
            padding-left: 20px; }
          header #shopCartBox #shopCart .shopCart-b .Cart-title .text-right {
            text-align: right; }
        header #shopCartBox #shopCart .shopCart-b .Cart-content {
          width: 100%;
          height: auto; }
          header #shopCartBox #shopCart .shopCart-b .Cart-content .ul1 {
            width: 100%;
            height: auto;
            border-style: solid;
            border-width: 2px 1px 1px;
            border-color: #aaa #f1f1f1 #f1f1f1;
            background: #fff; }
            header #shopCartBox #shopCart .shopCart-b .Cart-content .ul1 li {
              padding-top: 20px;
              position: relative;
              box-sizing: border-box;
              padding-left: 40px;
              list-style: none;
              width: 100%;
              height: 118px;
              border-bottom: 1px solid #666666; }
              header #shopCartBox #shopCart .shopCart-b .Cart-content .ul1 li > div {
                float: left;
                font-size: 12px;
                color: #666; }
              header #shopCartBox #shopCart .shopCart-b .Cart-content .ul1 li .check {
                position: absolute;
                left: 19px;
                top: 15px; }
              header #shopCartBox #shopCart .shopCart-b .Cart-content .ul1 li .img-title {
                float: left;
                width: 300px;
                height: 82px; }
                header #shopCartBox #shopCart .shopCart-b .Cart-content .ul1 li .img-title .img {
                  float: left;
                  height: 80px;
                  width: 80px;
                  border: 1px solid #ccc; }
                  header #shopCartBox #shopCart .shopCart-b .Cart-content .ul1 li .img-title .img img {
                    width: 80px;
                    height: 80px; }
                header #shopCartBox #shopCart .shopCart-b .Cart-content .ul1 li .img-title .title {
                  float: left;
                  height: 100%;
                  width: 208px;
                  color: #666;
                  font-size: 12px; }
              header #shopCartBox #shopCart .shopCart-b .Cart-content .ul1 li .kong {
                height: 80px;
                width: 130px; }
              header #shopCartBox #shopCart .shopCart-b .Cart-content .ul1 li .prices {
                height: 50px;
                width: 100px;
                line-height: 50px;
                text-align: center;
                font-size: 12px; }
              header #shopCartBox #shopCart .shopCart-b .Cart-content .ul1 li .TheNum {
                width: 100px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                font-size: 12px;
                margin-left: 42px; }
                header #shopCartBox #shopCart .shopCart-b .Cart-content .ul1 li .TheNum span {
                  width: 17px;
                  height: 22px;
                  font-size: 12px;
                  text-align: center;
                  cursor: pointer;
                  line-height: 22px;
                  color: #666666;
                  vertical-align: middle;
                  border: 1px solid #ccc; }
                header #shopCartBox #shopCart .shopCart-b .Cart-content .ul1 li .TheNum .num {
                  vertical-align: middle;
                  width: 46px;
                  height: 22px;
                  line-height: 22px;
                  text-align: center;
                  font-size: 14px;
                  color: #666; }
              header #shopCartBox #shopCart .shopCart-b .Cart-content .ul1 li .xiaoji {
                margin: 0 0  0 20px;
                width: 120px;
                height: 50px;
                line-height: 50px;
                text-align: center; }
              header #shopCartBox #shopCart .shopCart-b .Cart-content .ul1 li .del {
                width: 100px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                margin-left: 16px; }
                header #shopCartBox #shopCart .shopCart-b .Cart-content .ul1 li .del span {
                  cursor: pointer; }
        header #shopCartBox #shopCart .shopCart-b .AllNum {
          display: none;
          margin-top: 20px;
          width: 998px;
          height: 50px;
          border: 1px solid #ccc; }
          header #shopCartBox #shopCart .shopCart-b .AllNum .AllNum-left {
            float: left;
            height: 100%;
            width: 380px; }
            header #shopCartBox #shopCart .shopCart-b .AllNum .AllNum-left > div {
              float: left;
              height: 100%; }
            header #shopCartBox #shopCart .shopCart-b .AllNum .AllNum-left .left1 {
              width: 54px;
              height: 50px;
              box-sizing: border-box;
              padding: 16px 0 16px 9px; }
              header #shopCartBox #shopCart .shopCart-b .AllNum .AllNum-left .left1 span {
                font-size: 12px;
                color: #666; }
            header #shopCartBox #shopCart .shopCart-b .AllNum .AllNum-left .left2 {
              width: 120px;
              line-height: 50px;
              text-align: center;
              font-size: 12px;
              color: #666;
              cursor: pointer; }
            header #shopCartBox #shopCart .shopCart-b .AllNum .AllNum-left .left3 {
              width: 100px;
              line-height: 50px;
              text-align: center;
              font-size: 12px;
              color: #666;
              cursor: pointer; }
          header #shopCartBox #shopCart .shopCart-b .AllNum .AllNum-right {
            float: right;
            width: 400px;
            height: 100%; }
            header #shopCartBox #shopCart .shopCart-b .AllNum .AllNum-right > div {
              float: right;
              width: 100px;
              height: 100%;
              text-align: center;
              line-height: 50px;
              font-size: 12px;
              color: #666666; }
            header #shopCartBox #shopCart .shopCart-b .AllNum .AllNum-right .pay {
              background: #dedede;
              color: #999999;
              cursor: pointer; }
            header #shopCartBox #shopCart .shopCart-b .AllNum .AllNum-right .gopay {
              background: #bc020f;
              color: white; }
            header #shopCartBox #shopCart .shopCart-b .AllNum .AllNum-right .haveSelect span {
              color: red; }

footer {
  height: 480px;
  width: 100%;
  background: #eaeaea; }
  footer #footer-top .fot-titleBox {
    height: 303px;
    width: 100%;
    border-bottom: 1px solid #dedede; }
    footer #footer-top .fot-titleBox .fot-title {
      width: 1210px;
      height: 102px;
      margin: 0 auto;
      box-sizing: border-box;
      padding: 30px 0 30px 55px; }
      footer #footer-top .fot-titleBox .fot-title ol li {
        float: left;
        height: 44px;
        width: 200px;
        position: relative;
        text-indent: 46px;
        line-height: 44px;
        font-size: 16px;
        font-weight: 600;
        color: #444444;
        margin-right: 83px; }
        footer #footer-top .fot-titleBox .fot-title ol li s {
          position: absolute;
          display: block;
          width: 44px;
          height: 44px;
          background: url(../images/text.png) no-repeat 0 0; }
    footer #footer-top .fot-titleBox .olContentBox {
      width: 100%;
      height: 200px;
      box-sizing: border-box;
      border-bottom: 1px solid #dedede;
      margin-bottom: 10px; }
      footer #footer-top .fot-titleBox .olContentBox .olContent {
        padding: 20px 0 20px 55px;
        width: 1210px;
        height: 160px;
        margin: 0 auto; }
        footer #footer-top .fot-titleBox .olContentBox .olContent dl {
          margin-left: 46px;
          color: #777777;
          float: left;
          margin-right: 96px; }
          footer #footer-top .fot-titleBox .olContentBox .olContent dl dt {
            width: 100px;
            height: 30px;
            font-size: 12px;
            font-weight: 600;
            line-height: 30px; }
          footer #footer-top .fot-titleBox .olContentBox .olContent dl dd {
            font-size: 12px;
            height: 20px;
            line-height: 20px;
            width: 100px; }
  footer #footer-bottom {
    width: 1210px;
    margin: 0 auto; }
    footer #footer-bottom #footer-bottomTop {
      height: 18px;
      width: 1210px;
      margin: 0 auto; }
      footer #footer-bottom #footer-bottomTop p a {
        text-decoration: none;
        color: #777777;
        font-size: 15px; }
      footer #footer-bottom #footer-bottomTop p span {
        margin: 0 10px;
        font-size: 12px; }
    footer #footer-bottom p {
      text-align: center;
      color: #777777;
      font-size: 12px; }
      footer #footer-bottom p span {
        margin: 0 10px;
        font-size: 12px; }
      footer #footer-bottom p a {
        text-decoration: none;
        color: #777777; }
        footer #footer-bottom p a s {
          display: inline-block;
          width: 12px;
          height: 12px;
          background: url(../images/guoqi.png) no-repeat; }
        footer #footer-bottom p a .as2 {
          background: url(../images/guoqi.png) no-repeat -21px 0; }
        footer #footer-bottom p a .as3 {
          background: url(../images/guoqi.png) no-repeat -41px 0; }
        footer #footer-bottom p a .as4 {
          background: url(../images/guoqi.png) no-repeat -21px -12px; }
      footer #footer-bottom p a:hover {
        color: #bc020f; }
    footer #footer-bottom div {
      height: 32px;
      width: 1210px;
      margin: 0 auto; }
      footer #footer-bottom div p .icon-foot1 {
        display: inline-block;
        width: 103px;
        height: 32px;
        background: url(../images/ico_footer.png) no-repeat 0 0; }
      footer #footer-bottom div p .icon-foot2 {
        display: inline-block;
        width: 103px;
        height: 32px;
        background: url(../images/ico_footer.png) no-repeat -103px 0; }
      footer #footer-bottom div p .icon-foot3 {
        display: inline-block;
        width: 103px;
        height: 32px;
        background: url(../images/ico_footer.png) no-repeat 0 -36px; }
      footer #footer-bottom div p .icon-foot4 {
        display: inline-block;
        width: 103px;
        height: 32px;
        background: url(../images/ico_footer.png) no-repeat -103px -36px; }
      footer #footer-bottom div p .icon-foot5 {
        display: inline-block;
        width: 103px;
        height: 32px;
        background: url(../images/ico_footer.png) no-repeat 0px -72px; }
      footer #footer-bottom div p .icon-foot6 {
        display: inline-block;
        width: 103px;
        height: 32px;
        background: url(../images/ico_footer.png) no-repeat -103px -72px; }

/*# sourceMappingURL=ShopCart.css.map */
